$font1: 45px;
$font2: 40px;
$font3: 39px;
$font4: 30px;
$font5: 20px;
$font6: 18px;
$font7: 15px;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;

    &.light {
        font-weight: 300
    }

    &.bold {
        font-weight: 600
    }
}

h1 {
    font-size: $font1;
}

h2 {
    font-size: $font2;
}

h3 {
    font-size: $font3;
}

h4 {
    font-size: $font4;
}

h5 {
    font-size: $font5;
}

h6 {
    font-size: $font6;
}

p {
    font-size: $font7;
}

.button {
    cursor: pointer;
    display: inline-block;
    border-radius: 1000px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #76C34E, #467FCE);

    font-weight: 400;

    &.light {
        font-weight: 300
    }

    &.bold {
        font-weight: 600
    }
}

.title {

    h4 {
        text-transform: capitalize;
        margin-bottom: 9px;
        font-weight: bold;
        color: #FFF;
        text-align: center;
    }

    .hr {
        width: 114px;
        height: 3px;
        margin: 0 auto;
        background-image: linear-gradient(to right, #4EC365, #467FCE);
    }
}