#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: all .3s ease;
    opacity: 0;
    pointer-events: none;

    &.show {
        opacity: 1;
        pointer-events: auto;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        background-color: rgba(0, 0, 0, .7);
    }

    .container-popup {
        width: 900px;
        max-width: 100%;
        height: 600px;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0 3px 6px  rgba(0, 0, 0, .2);;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 30;
        display: flex;

        @media only screen and (max-width : 768px) {
            flex-direction: column;
        }

        .close-icon {
            position: absolute;
            top: 30px;
            right: 30px;
            z-index: 50;
            cursor: pointer;
            padding: 5px;
        }

        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 0;
            width: 280px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-image: linear-gradient(to bottom, #177D8A, #07A396);

            .name-kif {
                font-size: 19px;
                font-family: BebasNeue;
                font-weight: 600;
                color: #FDE428;
                margin-bottom: 30px;
                margin-top: 5px;
            }

            .route-popup {
                height: 140px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-self: flex-start;

                &__button {
                    opacity: 0.3;
                    transition: all .3s ease;
                    cursor: pointer;
                    user-select: none;
                    display: flex;
                    align-items: center;
                    padding-left: 60px;
                    width: 250px;
                    height: 40px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    background-image: linear-gradient(to bottom, #11DBC4, #147781);

                    &.active {
                        opacity: 1;
                    }

                    img {
                        margin-right: 10px;
                    }

                    span {
                        color: #FFF;
                        font-size: 15px;
                    }
                }
            }
        }

        &__right {
            width: calc(100% - 280px);
            position: relative;

            .form-popup {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 40;
                opacity: 0;
                pointer-events: none;
                transition: all .3s ease;
                padding: 0 80px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &.active {
                    opacity: 1;
                    pointer-events: auto;
                }

                .form-popup__title {
                    margin-bottom: 35px;

                    .message {
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        margin-top: 3px;

                        img {
                            margin-right: 5px;
                        }

                        &.error-message {
                            color: #FF0000;
                        }

                        &.success-message {
                            color: #41B37D;
                        }
                    }

                    .form-popup__title1 {
                        color: #303030;
                        font-size: 24px;
                        font-weight: 600;
                    }

                    .form-popup__title2 {
                        color: #8A8C8E;
                        font-size: 15px;

                        span {
                            color: #00807E;
                            font-size: 15px;

                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .form-popup__form {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;

                    .layout-2 {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        >* {
                            width: calc((100% - 10px) / 2);
                        }

                        .hide {
                            opacity: 0;
                            pointer-events: none;
                        }
                    }

                    .form-popup__control {
                        margin-bottom: 10px;

                        &.clear-mb {
                            margin-bottom: 0;
                        }

                        label {
                            display: block;
                            color: #8A8C8E;
                            font-size: 15px;
                            cursor: pointer;
                            user-select: none;
                            margin-bottom: 5px;
                        }

                        input {
                            display: block;
                            width: 100%;
                            height: 35px;
                            border-radius: 5px;
                            border: none;
                            background-color: #F1F3F4;
                            font-size: 15px;
                            color: #555;
                            padding: 0 10px;

                            &::placeholder {
                                color: #DDD9D8;
                                font-size: 12px;
                            }

                            &:disabled {
                                color: #C7CCD2;
                                background-color: #FFF;
                            }
                        }

                        button {
                            cursor: not-allowed;
                            opacity: .3;
                            display: block;
                            width: 100%;
                            border: none;
                            color: #FFF;
                            font-size: 15px;
                            border-radius: 10px;
                            background-image: linear-gradient(to bottom, #11DBC4, #147781);
                            height: 35px;
                            position: relative;

                            &[type="submit"] {
                                height: 40px;
                            }
                        }

                        .error-message {
                            color: #FF0000;
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            margin-top: 3px;

                            img {
                                margin-right: 5px;
                            }
                        }

                        &.checkbox {
                            display: flex;

                            label {
                                display: inline-block;
                                margin-bottom: 0;

                                span {
                                    color: #00807E;
                                    font-size: 15px;
                                    text-decoration: underline;
                                }
                            }

                            input {
                                cursor: pointer;
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                background-color: red;
                                color: yellow;
                                padding: 0;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .link-to-forgot {
                    color: #00807E;
                    font-size: 15px;
                    margin-top: 35px;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}