// ===================== RESET =====================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

svg,
span,
img {
    display: inline-block;
}

ul,
ol,
li,
a {
    list-style: none;
    text-decoration: none;
    transition: all .3s ease;
}

:focus {
    outline: none;
}

body {
    background-image: linear-gradient(to bottom, #4EC365, #467FCE);
    font-family: SanFranciscoText;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.dp-inb {
    display: inline-block !important;
}

.dp-b {
    display: block !important;
}

.clear::after,
.clear::before {
    content: '';
    display: table;
    clear: both;
}

.pt-0 {
    padding-top: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.text-c {
    text-align: center;
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-10 {
    margin-bottom: 10px;
}

.z-index-1 {
    z-index: 1;
}

.position-relative {
    position: relative;
}

.h-full {
    height: 100%;
}

// ===================== LAYOUT =====================

.kdg-container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 133px;
}

.kdg-row {
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;

    &.va-t {
        >* {
            vertical-align: top;
        }
    }

    &.va-m {
        >* {
            vertical-align: middle;
        }
    }

    &.va-b {
        >* {
            vertical-align: bottom;
        }
    }
}

.kdg-row [class*="kdg-col-"],
.kdg-row[class*="kdg-column-"] .item {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    font-size: 14px;
}

.kdg-col-12 {
    width: 100%;
}

.kdg-col-11 {
    width: 91.667%;
}

.kdg-col-10 {
    width: 83.333%;
}

.kdg-col-9 {
    width: 75%;
}

.kdg-col-8 {
    width: 66.667%;
}

.kdg-col-7 {
    width: 58.333%;
}

.kdg-col-6 {
    width: 50%;
}

.kdg-col-5 {
    width: 41.667%;
}

.kdg-col-4 {
    width: 33.333%;
}

.kdg-col-3 {
    width: 25%;
}

.kdg-col-2 {
    width: 16.667%;
}

.kdg-col-1 {
    width: 8.333%;
}

.kdg-column-2 .item {
    width: 50%;
}

.kdg-column-3 .item {
    width: 33.3333333%;
}

.kdg-column-3 .item:not(:nth-child(-n + 3)) {
    margin-top: 30px;
}

.kdg-column-4 .item {
    width: 25%;
}

.kdg-column-4 .item:not(:nth-child(-n + 4)) {
    margin-top: 17px;
}

.kdg-column-5 .item {
    width: 20%;
}

.kdg-column-5 .item:not(:nth-child(-n + 5)) {
    margin-top: 30px;
}

.img {
    display: block;
    position: relative;
    width: 100%;
    &.img-1-1::before {
        content: "";
        display: block;
        padding-top: 100%;
        background-color: transparent;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}