@import './mixin';
@import './fonts';
@import './reset';

#header {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh;
    min-height: 584px;

    .menu-icon {
        display: none;
        position: fixed;
        top: 22px;
        left: 12px;
        padding: 10px;
        cursor: pointer;
    }

    .menu-page {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00807E;
        padding-top: 60px;
        min-height: 480px;

        &.show-menu {
            display: block;
        }

        .logo {
            display: block;
            margin: 0 auto;
            width: 58px;
        }

        .menu-page-title {
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            color: #FDE428;
            font-family: BebasNeue;
            text-align: center;
            margin-top: 10px;
        }

        @media (min-width: 768px) {
            .logo {
                width: 83px;
            }

            .menu-page-title {
                font-size: 39px;
            }
        }

        .menu-page-more {
            font-size: 16px;
            color: #FFF;
            text-transform: uppercase;
            display: block;
            text-align: center;
            margin-top: 45px;

            &:hover {
                text-decoration: underline;
            }
        }

        .control {
            margin-top: 45px;
            padding: 0 30px;
            display: flex;
            justify-content: space-evenly;

            button {
                height: 37px;
                line-height: 37px;
                border-radius: 1000px;
                min-width: 137px;
                padding: 0 20px;
                border: 0;
                background-color: transparent;
                color: #FFF;
                font-size: 16px;
                font-family: 'SanFranciscoText';
                cursor: pointer;

                &:hover {
                    opacity: .5;
                }
            }

            .login {
                border: 1px solid #FFF;
            }

            .register {
                background-image: linear-gradient(to bottom, #76C34E, #467FCE);
            }
        }

        .language {
            color: #FFF;
            padding: 0 30px;
            display: flex;
            justify-content: space-evenly;
            position: absolute;
            bottom: 40px;
            width: 100%;

            .vi,
            .en {
                font-size: 20px;
                user-select: none;
                cursor: pointer;
                padding: 10px;
            }

            .vi.active,
            .en.active {
                color: #FDE428;
            }
        }

        .close-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 10px;
            cursor: pointer;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-color: rgba(48, 48, 48, 0.2);
        z-index: 0;
    }

    .logo {

        img {
            width: 83px;
            display: inline-block;
            vertical-align: middle;
        }

        h3 {
            margin-left: 7px;
            display: inline-block;
            vertical-align: middle;
            font-family: BebasNeue;
            color: #FDE428;
        }
    }

    .menu {
        width: 100%;
        font-size: 0;
        display: flex;
        justify-content: space-between;

        li {

            a {
                height: 35px;
                line-height: 35px;
                font-size: $font7;
                color: #FFF;
                text-transform: uppercase;
                padding: 0 18px;
                border-radius: 1000px;
                display: inline-block;

                &:hover {
                    opacity: .7;
                }

                &#more {
                    padding: 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &#login {
                    border: 1px solid #FFF;
                }

                &#signup {
                    background-image: linear-gradient(to bottom, #76C34E, #467FCE);
                    min-width: 120px;
                    text-align: center;
                }
            }
        }
    }

    .current-language {
        cursor: pointer;
        font-size: $font5;
        position: relative;
        text-align: right;
        user-select: none;

        >span {
            color: #FFF;
            font-size: $font5;
            vertical-align: middle;
        }

        &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-left: 7px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-top-color: #FFF;
            border-bottom: none;
        }

        &.show {
            .choose-language {
                top: calc(100% + 15px);
                opacity: 1;
                pointer-events: all;
            }
        }

        .choose-language {
            position: absolute;
            right: 0;
            border-radius: 5px;
            overflow: hidden;
            transition: all .3s ease;
            top: calc(100% + 30px);
            opacity: 0;
            pointer-events: none;

            li {
                color: #8A8C8E;
                cursor: pointer;
                background-color: #FFF;
                padding: 8px 24px;
                font-size: 18px;

                &:hover {
                    background-color: #E8E8E8;
                    color: #00807E;
                }
            }
        }
    }

    .content {
        color: #FFF;
        height: calc(100% - 83px);
        display: flex;
        align-items: center;

        h6 {
            margin-top: 20px;
        }

        @keyframes scaleUpAndDown {
            25% {
                transform: scale(1.2);
            }

            75% {
                transform: scale(.8);
            }
        }

        .button {
            font-size: $font5;
            margin-top: 50px;
            padding: 20px 64px;
            transition: all .3s ease;
            animation: scaleUpAndDown 1s linear 0s infinite;
        }
    }

    @media (max-width: 1247px) {
        .kdg-col-5 {
            width: 25%;
        }

        .kdg-col-6 {
            width: 66.667%;
        }

        .kdg-col-7 {
            width: 80%;
        }

        .logo {
            text-align: center;

            img {
                width: 70px;
            }

            h3 {
                margin-left: 0;
                font-size: 21px;
            }
        }
    }

    @media (max-width: 1024px) {
        .kdg-col-5 {
            width: 100%;
        }

        .logo {

            img {
                width: 83px;
            }

            h3 {
                font-size: 39px;
                margin-left: 7px;
            }
        }

        .menu-icon {
            display: block;
        }

        .menu,
        .current-language {
            display: none;
        }
    }

    @media (max-width: 992px) {
        .kdg-col-7 {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        padding-top: 18px;
        padding-bottom: 0;

        .kdg-container {
            padding: 0 20px;
        }

        .logo {
            margin-bottom: 0;

            img {
                width: 65px;
            }

            h3 {
                font-size: $font4;
                margin-left: 10px;
            }
        }

        .content {
            margin-top: 0;
        }
    }

    @media (max-width: 576px) {
        .logo {

            img {
                width: 45px;
            }
        }

        .content {
            h1 {
                font-size: 25px;
            }

            h6 {
                font-size: 15px;
            }

            .button {
                font-size: 14px;
                padding: 15px 35px;
            }
        }
    }

}

#calc {
    padding: 35px 0;
    background-image: linear-gradient(to right, #4EC365, #467FCE);
    height: 20vh;
    min-height: 200px;
    display: flex;
    align-items: center;

    .text-input {
        color: #FFF;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .input-number {
        position: relative;

        input {
            width: 100%;
            padding: 13px 20px;
            padding-right: 150px;
            border: none;
            border-radius: 50px;
            font-size: $font6;
        }

        .button {
            text-transform: unset;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            font-size: $font5;
            padding: 8px 38px;
            right: 4px;
            color: #FFF;
            cursor: context-menu;
        }
    }

    .calc-profit {
        color: #FFF;

        .item {
            overflow: hidden;
            vertical-align: top;

            >div {
                font-size: $font2;
            }

            p {
                font-size: 14px;
                font-weight: 300;
            }

        }
    }

    @media (max-width: 1247px) {
        .kdg-col-1 {
            width: 11%;
        }

        .kdg-col-5 {
            width: 89%;
        }

        .kdg-col-6 {
            width: 100%;
        }

        .calc-money {
            margin-bottom: 20px;
            vertical-align: middle;
        }

        .calc-img {
            vertical-align: middle;
        }
    }

    @media (max-width: 992px) {}

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }

        .text-align {
            text-align: center;
        }

        .kdg-col-5 {
            width: 70%;
        }

        .calc-img {
            display: none;
        }
    }

    @media (max-width: 576px) {
        .calc-money {

            .text-input {
                font-size: 18px;
            }
        }

        .calc-profit {

            .item {

                >div {
                    font-size: 20px;
                }

            }
        }

        .input-number {

            input {
                padding-right: 100px;
            }

            .button {
                padding: 8px 12px;
            }
        }
    }

    @media (max-width: 335px) {
        .kdg-column-3 {

            .item {
                width: 100%;
            }
        }
    }
}

#roadmap {
    padding: 70px 0 50px;
    text-align: center;
    background-image: linear-gradient(to bottom, #007676, #005668);

    .period-part {
        padding: 0 25px;
    }

    .circle-box {
        width: 217px;
        height: 217px;
        margin: 0 auto;
        position: relative;

        @keyframes rotate1 {
            50% {
                transform: rotate(180deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .circle-1 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid #FFF;
            border-radius: 50%;
            animation: rotate1 3s linear 0s infinite;

            &.no-animation {
                animation: none;
            }

            .circle-3 {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-image: linear-gradient(to bottom, #76C34E, #467FCE);
                position: absolute;
                top: 11px;
                left: 75%;
            }

            .circle-4 {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-image: linear-gradient(to bottom, #76C34E, #467FCE);
                position: absolute;
                bottom: 11px;
                right: 75%;
            }
        }

        .circle-2 {
            position: absolute;
            top: 13px;
            left: 13px;
            right: 13px;
            bottom: 13px;
            border: 1px solid #FFF;
            border-radius: 50%;
        }

        .road-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.done {
                width: 145px;
                left: 52%;
            }
        }
    }

    .period-number {
        margin-top: 24px;
        font-size: 14px;
        color: #FFF;
        font-weight: 300;
    }

    .period-title {
        font-size: 18px;
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
    }

    .period-money {
        font-size: 16px;
        color: #FFF;
        font-weight: 300;

        span {
            font-size: 20px;
            color: #FDE428;
        }
    }

    @media (max-width: 1300px) {
        .period-part {
            padding: 0;
        }
    }

    @media (max-width: 992px) {
        .kdg-col-4 {
            width: 50%;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }

        .kdg-col-4 {
            width: 100%;
        }
    }

    // @media (max-width: 576px) {
    // }

    @media (max-width: 335px) {}
}

#history {
    min-height: 72px;
    background-image: linear-gradient(to bottom, #177D8A, #07A396);

    .history-transaction {
        padding: 8px 30px 8px;
        width: 100%;
        height: 72px;
        background-color: #FFF;
        border-radius: 5px;
        border: 1px solid #E8E8E8;

        img {
            vertical-align: middle;
        }

        span {
            width: calc(100% - 63px);
            margin-left: 6px;
            text-transform: uppercase;
            color: #00807E;
            font-size: $font7;
            vertical-align: middle;
        }
    }

    .text-transaction {

        >* {
            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #FFF;
            }
        }

        .invest {
            font-size: $font6;
            color: #DDD9D8;
            display: inline-block;
            margin: 0 5px;

            span {
                font-size: $font6;
                font-weight: bold;
                color: #FDE428;
            }
        }

        .draw {
            font-size: $font6;
            color: #DDD9D8;
            display: inline-block;
            margin: 0 5px;

            span {
                font-size: $font6;
                font-weight: bold;
                color: #FF3300;
            }
        }
    }

    // @media (max-width: 1300px) {
    // }

    // @media (max-width: 1247px) {
    // }

    @media (max-width: 992px) {
        .history-transaction {
            padding: 8px 15px;
            display: flex;
            align-items: center;

            img {
                display: none;
            }

            span {
                width: 100%;
                margin-left: 0;
                text-align: center;
            }
        }
    }

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }
    }

    @media (max-width: 576px) {
        .history-transaction {
            display: none;
        }

        .kdg-col-8 {
            width: 100%;
        }

        .text-transaction {
            margin-top: 26px;
        }
    }

    // @media (max-width: 335px) {
    // }
}

#feel {
    padding: 50px 0 23px;
    background-image:
        url('../images/banner2.jpg'),
        linear-gradient(to bottom, #007676, #005668);

    .feel-part {
        font-size: 0;

        >* {
            display: inline-block;
            vertical-align: top;
            font-size: initial;
        }

        .avatar {
            width: 25%;

            img {
                max-width: 100%;
                border: 1px solid #FFF;
                border-radius: 50%;
            }
        }

        .description {
            margin-left: 5%;
            width: 70%;

            .comment {
                font-size: $font7;
                color: #FFF;
            }

            .info {
                .name {
                    font-weight: bold;
                    color: #FDE428;
                }

                .position {
                    font-size: $font6;
                    color: #FFF;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .kdg-container {
            padding: 0 20px;
        }

        .slider {
            --item-per-row: 1;
        }
    }
}

#footer {
    padding: 45px 0 0;
    background-image: linear-gradient(to right, #4EC365 0%, #00807E 25%, #00807E 75%, #467FCE 100%);

    .img-box {
        width: 100%;
        text-align: center;

        p {
            font-family: BebasNeue;
            color: #FDE428;
        }
    }

    .info {
        color: #FFF;

        .title-fund {
            text-transform: uppercase;
        }

        .address-info {
            font-size: 14px;
        }

        .mail {
            word-break: break-all;
        }
    }

    .divider {
        height: 110px;

        .divider-child {
            width: 1px;
            height: 100%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, .6);
        }
    }

    .social {
        color: #FFF;

        .title-social {
            text-transform: uppercase;
        }
    }

    .icon-box {

        img {
            vertical-align: middle;
            margin: 5px;

            &:hover {
                opacity: .7;
            }
        }

        a[href="#"] {
            pointer-events: none;
        }
    }

    .input-box {
        position: relative;

        #input-email {
            width: 100%;
            height: 32px;
            padding: 0 100px 0 25px;
            border: none;
            border-radius: 1000px;
            background-color: rgba(255, 255, 255, .8);
            font-size: $font7;
            color: #333;

            &::placeholder {
                font-size: $font7;
                color: #8A8C8E;
            }
        }

        #button-email {
            position: absolute;
            top: 0;
            right: 0;
            height: 32px;
            line-height: 32px;
            color: #FFF;
            font-size: 15px;
            padding: 0 17px;
            text-transform: none;

            &:hover {
                opacity: .5;
            }
        }

    }

    .copyright {
        padding: 25px 0;
        text-align: center;
        color: #FFF;
        border-top: 1px solid rgba(255, 255, 255, .6);
    }

    @media (max-width: 992px) {
        .kdg-container {
            padding: 0 20px;
        }
    }

    @media (max-width: 768px) {
        .kdg-row {
            text-align: center;
        }

        .kdg-col-2 {
            width: 40%;
            margin-bottom: 25px;
        }

        .kdg-col-3 {
            width: 60%;
            margin-bottom: 25px;
        }

        .kdg-col-4 {
            width: 80%;
        }

        .none {
            display: none;
        }

        .info {
            text-align: left;
        }

        .social {
            text-align: center;
        }
    }

    @media (max-width: 576px) {
        .kdg-row {
            text-align: unset;
        }

        .kdg-col-4 {
            width: 100%;
        }

        .info {

            .title-fund,
            .address-info,
            .mail {
                font-size: 14px;
            }
        }

        .social {
            .title-social {
                font-size: 14px;
            }
        }

        .copyright {
            font-size: 11px;
        }
    }

    @media (max-width: 335px) {}

}

.wrapper-slider {
    overflow: hidden;
    position: relative;
}

.control-slider {
    text-align: center;
}

.control-slider .next,
.control-slider .prev {
    border: 1px solid black;
    background-color: #8A8C8E;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0 2px;
}

.control-slider .next:hover,
.control-slider .prev:hover {
    background-color: #FDE428;
}

.slider {
    --item-per-row: 2;
    width: calc(100% * var(--item) / var(--item-per-row));
    transition: all .3s ease;
    transform: translateX(0);
}

.slider::after {
    content: '';
    display: block;
    clear: both;
}

.slider .item {
    width: calc(100% / var(--item));
    float: left;
}

.slider .item img {
    display: block;
    margin: 0 auto;
}

.control-slider1 {

    .prev,
    .next {
        padding: 10px;
        cursor: pointer;
        user-select: none;
        opacity: .5;

        &:hover {
            opacity: 1;
        }

        img {
            width: 20px;
        }
    }

    .prev {
        position: absolute;
        top: 40px;
        left: 50px;
    }

    .next {
        position: absolute;
        top: 40px;
        right: 50px;
    }

    @media (max-width: 992px) {

        .prev {
            left: 20px;
        }

        .next {
            right: 20px;
        }
    }
}

@media (max-width: 992px) {
    .control-slider1 {

        .prev,
        .next {
            display: none;
        }
    }

    .hover-control-slider:hover {

        .control-slider1 {

            .prev,
            .next {
                display: block;
                pointer-events: auto;
            }
        }
    }
}