@import './mixin';
@import './fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

svg,
span,
img {
    display: inline-block;
}

ul,
ol,
li,
a {
    list-style: none;
    text-decoration: none;
    transition: all .3s ease;
}

:focus {
    outline: none;
}

body {
    background-image: linear-gradient(to bottom, #4EC365, #467FCE);
    font-family: SanFranciscoText;
}

.title {

    h4 {
        margin-bottom: 9px;
        font-weight: bold;
        color: #FFF;
        text-align: center;
    }

    .hr {
        width: 114px;
        height: 3px;
        margin: 0 auto;
        background-image: linear-gradient(to right, #4EC365, #467FCE);
    }
}

.kdg-container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 133px;
}

.kdg-row {
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;

    &.va-t {
        >* {
            vertical-align: top;
        }
    }

    &.va-m {
        >* {
            vertical-align: middle;
        }
    }

    &.va-b {
        >* {
            vertical-align: bottom;
        }
    }
}

.kdg-row [class*="kdg-col-"],
.kdg-row[class*="kdg-column-"] .item {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    font-size: 14px;
}

.kdg-col-12 {
    width: 100%;
}

.kdg-col-11 {
    width: 91.667%;
}

.kdg-col-10 {
    width: 83.333%;
}

.kdg-col-9 {
    width: 75%;
}

.kdg-col-8 {
    width: 66.667%;
}

.kdg-col-7 {
    width: 58.333%;
}

.kdg-col-6 {
    width: 50%;
}

.kdg-col-5 {
    width: 41.667%;
}

.kdg-col-4 {
    width: 33.333%;
}

.kdg-col-3 {
    width: 25%;
}

.kdg-col-2 {
    width: 16.667%;
}

.kdg-col-1 {
    width: 8.333%;
}

.kdg-column-2 .item {
    width: 50%;
}

.kdg-column-3 .item {
    width: 33.3333333%;
}

.kdg-column-3 .item:not(:nth-child(-n + 3)) {
    margin-top: 30px;
}

.kdg-column-4 .item {
    width: 25%;
}

.kdg-column-4 .item:not(:nth-child(-n + 4)) {
    margin-top: 17px;
}

.kdg-column-5 .item {
    width: 20%;
}

.kdg-column-5 .item:not(:nth-child(-n + 5)) {
    margin-top: 30px;
}

.dp-inb {
    display: inline-block !important;
}

.dp-b {
    display: block !important;
}

.clear::after,
.clear::before {
    content: '';
    display: table;
    clear: both;
}

.pt-0 {
    padding-top: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.text-c {
    text-align: center;
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-10 {
    margin-bottom: 10px;
}

.z-index-1 {
    z-index: 1;
}
.position-relative {
    position: relative;
}

#header {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-color: rgba(48, 48, 48, 0.2);
        z-index: 0;
    }

    .logo {

        img {
            width: 83px;
            display: inline-block;
            vertical-align: middle;
        }

        h3 {
            padding-left: 7px;
            display: inline-block;
            vertical-align: middle;
            font-family: BebasNeue;
            color: #FDE428;
        }
    }

    .menu {
        width: 100%;
        font-size: 0;
        text-align: right;

        li {
            padding: 10px 20px;
            display: inline-block;

            a {
                font-size: $font7;
                color: #FFF;
                text-transform: uppercase;

                &#signup {
                    padding: 5px 20px;
                }
            }
        }

        li:first-child {
            padding-left: 0;
        }
    }

    .current-language {
        cursor: pointer;
        font-size: $font5;
        position: relative;
        text-align: right;
        user-select: none;

        >span {
            color: #FFF;
            font-size: $font5;
            vertical-align: middle;
        }

        &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-left: 7px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-top-color: #FFF;
            border-bottom: none;
        }

        &.show {
            .choose-language {
                top: calc(100% + 15px);
                opacity: 1;
                pointer-events: all;
            }
        }

        .choose-language {
            position: absolute;
            right: 0;
            border-radius: 5px;
            overflow: hidden;
            transition: all .3s ease;
            top: calc(100% + 30px);
            opacity: 0;
            pointer-events: none;

            li {
                color: #8A8C8E;
                cursor: pointer;
                background-color: #FFF;
                padding: 8px 24px;
                font-size: 18px;

                &:hover {
                    background-color: #E8E8E8;
                    color: #00807E;
                }
            }
        }
    }

    .content {
        color: #FFF;
        margin-top: 100px;

        h6 {
            margin-top: 20px;
        }

        .button {
            font-size: $font5;
            margin-top: 50px;
            padding: 20px 64px;
        }
    }

    @media (max-width: 1247px) {
        .logo {
            text-align: center;

            h3 {
                padding-left: 0;
            }
        }
    }

    @media (max-width: 992px) {
        .kdg-col-7 {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }

        .kdg-col-5 {
            width: 100%;
        }

        .kdg-col-6 {
            width: 80%;
        }

        .kdg-col-1 {
            width: 20%;
        }

        .logo {
            margin-bottom: 15px;

            h3 {
                padding-left: 7px;
            }
        }
    }

    @media (max-width: 576px) {
        .menu {

            li {
                padding: 10px 10px;
            }
        }
    }

}

#calc {
    padding: 35px 0;
    background-image: linear-gradient(to right, #4EC365, #467FCE);

    .text-input {
        color: #FFF;
        margin-bottom: 12px;
    }

    .input-number {
        position: relative;

        input {
            width: 100%;
            padding: 13px 20px;
            padding-right: 150px;
            border: none;
            border-radius: 50px;
            font-size: $font6;
        }

        .button {
            text-transform: unset;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            font-size: $font5;
            padding: 8px 38px;
            width: max-content;
            right: 4px;
            color: #FFF;
        }
    }

    .calc-profit {
        color: #FFF;

        .item {
            overflow: hidden;
            vertical-align: top;

            >div {
                font-size: $font2;
            }
        }
    }

    @media (max-width: 1247px) {
        .kdg-col-5 {
            width: 91.667%;
        }

        .kdg-col-6 {
            width: 100%;
        }

        .money {
            margin-bottom: 20px;
            vertical-align: middle;
        }

        .calc-img {
            vertical-align: middle;
        }
    }

    @media (max-width: 992px) {
        .calc-img {
            display: none;
        }

        .money {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }
    }

    @media (max-width: 576px) {
        .kdg-column-3 {

            .item {
                width: 50%;
                margin-bottom: 10px;
            }
        }

        .input-number {

            input {
                padding-right: 20px;
            }

            .button {
                display: none;
            }
        }
    }

    @media (max-width: 335px) {
        .kdg-column-3 {

            .item {
                width: 100%;
            }
        }
    }
}

#roadmap {
    padding: 70px 0 50px;
    text-align: center;
    background-image: linear-gradient(to bottom, #007676, #005668);

    .period-part {
        padding: 0 65px;
    }

    .circle-box {
        width: 217px;
        height: 217px;
        margin: 0 auto;
        position: relative;

        .circle-1 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid #FFF;
            border-radius: 50%;
        }

        .circle-2 {
            position: absolute;
            top: 13px;
            left: 13px;
            right: 13px;
            bottom: 13px;
            border: 1px solid #FFF;
            border-radius: 50%;
        }

        .img-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .period-number {
        margin-top: 24px;
        font-size: 14px;
        color: #FFF;
        font-weight: 300;
    }

    .period-title {
        font-size: 18px;
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
    }

    .period-money {
        font-size: 16px;
        color: #FFF;
        font-weight: 300;

        span {
            font-size: 20px;
            color: #FDE428;
        }
    }

    @media (max-width: 1300px) {
        .period-part {
            padding: 0 45px;
        }
    }

    @media (max-width: 1247px) {
        .period-part {
            padding: 0 10px;
        }
    }

    @media (max-width: 992px) {
        .kdg-col-4 {
            width: 50%;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .period-part {
            padding: 0 15px;
        }
    }

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }

        .kdg-col-4 {
            width: 100%;
        }
    }

    // @media (max-width: 576px) {
    // }

    @media (max-width: 335px) {
        .period-part {
            padding: 0;
        }
    }
}

#history {
    min-height: 72px;
    background-image: linear-gradient(to bottom, #177D8A, #07A396);

    .history-transaction {
        padding: 8px 30px 8px;
        width: 100%;
        height: 72px;
        background-color: #FFF;
        border-radius: 5px;
        border: 1px solid #E8E8E8;

        img {
            vertical-align: middle;
        }

        span {
            width: calc(100% - 63px);
            margin-left: 6px;
            text-transform: uppercase;
            color: #00807E;
            font-size: $font7;
            vertical-align: middle;
        }
    }

    .text-transaction {

        >* {
            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #FFF;
            }
        }

        .invest {
            font-size: $font6;
            color: #DDD9D8;
            display: inline-block;
            margin: 0 5px;

            span {
                font-size: $font6;
                font-weight: bold;
                color: #FDE428;
            }
        }

        .draw {
            font-size: $font6;
            color: #DDD9D8;
            display: inline-block;
            margin: 0 5px;

            span {
                font-size: $font6;
                font-weight: bold;
                color: #FF3300;
            }
        }
    }

    // @media (max-width: 1300px) {
    // }

    // @media (max-width: 1247px) {
    // }

    @media (max-width: 992px) {
        .history-transaction {
            padding: 8px 15px;

            img {
                display: none;
            }

            span {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }
    }

    @media (max-width: 576px) {
        .history-transaction {
            display: none;
        }

        .kdg-col-8 {
            width: 100%;
        }

        .text-transaction {
            margin-top: 26px;
        }
    }

    // @media (max-width: 335px) {
    // }
}

#feel {
    padding: 50px 0 23px;
    background-image: linear-gradient(to bottom, #007676, #005668);

    .feel-part {
        font-size: 0;

        >* {
            display: inline-block;
            vertical-align: top;
            font-size: initial;
        }

        .avatar {
            width: 25%;

            img {
                max-width: 100%;
                border: 1px solid #FFF;
                border-radius: 50%;
            }
        }

        .description {
            margin-left: 5%;
            width: 70%;

            .comment {
                font-size: $font7;
                color: #FFF;
            }

            .info {
                .name {
                    font-weight: bold;
                    color: #FDE428;
                }

                .position {
                    font-size: $font6;
                    color: #FFF;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .kdg-container {
            padding: 0 20px;
        }
        .slider{
            --item-per-row : 1;
        }
    }
}

#footer {
    padding: 45px 0 0;
    background-image: linear-gradient(to right, #4EC365 0%, #00807E 25%, #00807E 75%, #467FCE 100%);

    .img-box {
        width: 100%;
        text-align: center;

        p {
            font-family: BebasNeue;
            color: #FDE428;
        }
    }

    .info {
        color: #FFF;

        .title-fund {
            text-transform: uppercase;
            font-family: BebasNeue;
        }

        .mail {
            word-break: break-all;
        }
    }

    .divider {
        height: 110px;

        .divider-child {
            width: 1px;
            height: 100%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, .6);
        }
    }

    .social {
        color: #FFF;

        .title-social {
            text-transform: uppercase;
        }
    }

    .icon-box {

        img {
            vertical-align: middle;
            margin: 5px;

            &:hover {
                opacity: .7;
            }
        }
    }

    .input-box {
        position: relative;

        #input-email {
            width: 100%;
            height: 32px;
            padding: 0 100px 0 25px;
            border: none;
            border-radius: 1000px;
            background-color: rgba(255, 255, 255, .8);
            font-size: $font7;
            color: #8A8C8E;

            &::placeholder {
                font-size: $font7;
                color: #8A8C8E;
            }
        }

        #button-email {
            position: absolute;
            top: 0;
            right: 0;
            height: 32px;
            line-height: 32px;
            color: #FFF;
            font-size: 15px;
            padding: 0 17px;
            text-transform: none;
        }

    }

    .copyright {
        padding: 25px 0;
        text-align: center;
        color: #FFF;
        border-top: 1px solid rgba(255, 255, 255, .6);
    }

    @media (max-width: 992px) {
        .kdg-container {
            padding: 0 20px;
        }
    }

    @media (max-width: 768px) {
        .kdg-row {
            text-align: center;
        }

        .kdg-col-2 {
            width: 40%;
            margin-bottom: 50px;
        }

        .kdg-col-3 {
            width: 60%;
            margin-bottom: 50px;
        }

        .kdg-col-4 {
            width: 80%;
        }

        .none {
            display: none;
        }

        .info {
            text-align: left;
        }

        .social {
            text-align: center;
        }
    }

    @media (max-width: 576px) {
        .kdg-row {
            text-align: unset;
        }

        .kdg-col-4 {
            width: 100%;
        }
    }

    @media (max-width: 335px) {
    }

}

.wrapper-slider {
    overflow: hidden;
    position: relative;
}

.control-slider {
    text-align: center;
}

.control-slider .next,
.control-slider .prev {
    border: 1px solid black;
    background-color: #8A8C8E;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0 2px;
}

.control-slider .next:hover,
.control-slider .prev:hover {
    background-color: #FDE428;
}

.slider {
    --item-per-row : 2;
    width: calc(100% * var(--item) / var(--item-per-row));
    transition: all .3s ease;
    transform: translateX(0);
}

.slider::after {
    content: '';
    display: block;
    clear: both;
}

.slider .item {
    width: calc(100% / var(--item));
    float: left;
}

.slider .item img {
    display: block;
    margin: 0 auto;
}

