@import './mixin';
@import './fonts';
@import './reset';

#message {
    position: fixed;
    top: 20px;
    right: 0px;
    transform: translate(100%, 0);
    transition: all 0.3s ease;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 99;
    font-size: 18px;

    &.success {
        color: #fff;
        background-color: #00ff00;
    }

    &.error {
        color: #fff;
        background-color: #ff0000;
    }

    &.show {
        right: 20px;
        transform: translate(0);
    }
}

#header {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 75vh;
    min-height: 600px;

    .menu-icon {
        display: none;
        position: fixed;
        top: 30px;
        left: 30px;
        padding: 20px;
        cursor: pointer;
        user-select: none;
    }

    .menu-page {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #00807e;
        padding-top: 60px;
        transition: all 0.3s ease;
        transform: translate(-100%, 0);
        height: 100vh;
        width: 70vw;

        @media only screen and (max-width: 550px) {
            width: 100vw;
        }

        .mask {
            cursor: pointer;
            user-select: none;
            position: absolute;
            top: 50%;
            bottom: 50%;
            right: 0;
            width: 0;
            background-color: rgba(0, 0, 0, 0.3);
            transform: translate(100%, 0);
            transition: all 0.3s ease;
        }

        &.show-menu {
            transform: translate(0%, 0);

            .mask {
                width: 30vw;
                top: 0;
                bottom: 0;

                @media only screen and (max-width: 380px) {
                    width: 0;
                }
            }
        }

        .logo {
            display: block;
            margin: 0 auto;
            width: 58px;
        }

        .menu-page-title {
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fde428;
            font-family: BebasNeue;
            text-align: center;
            margin-top: 10px;
        }

        @media (min-width: 768px) {
            .logo {
                width: 83px;
            }

            .menu-page-title {
                font-size: 39px;
            }
        }

        .menu-page-more {
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            display: block;
            text-align: center;
            margin-top: 45px;

            span {
                font-size: 16px;
                text-decoration: underline;
            }

            &:hover {
                opacity: 0.5;
            }
        }

        .control {
            margin-top: 45px;
            display: flex;
            justify-content: space-evenly;

            button {
                height: 37px;
                line-height: 37px;
                border-radius: 1000px;
                min-width: 137px;
                padding: 0 20px;
                border: 0;
                background-color: transparent;
                color: #fff;
                font-size: 16px;
                font-family: 'SanFranciscoText';
                text-transform: uppercase;
                cursor: pointer;
                user-select: none;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;

                &:hover {
                    opacity: 0.5;
                }
            }

            .login {
                border: 1px solid #fff;
            }

            .register {
                background-image: linear-gradient(to bottom, #76c34e, #467fce);
            }
        }

        .language {
            color: #fff;
            padding: 0 30px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .lang {
                font-size: 20px;
                user-select: none;
                cursor: pointer;
                padding: 10px;
                margin: 10px;

                &.active {
                    color: #fde428;
                }
            }
        }

        .close-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 10px;
            cursor: pointer;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-color: rgba(48, 48, 48, 0.2);
        z-index: 0;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 400px;
        display: flex;
        align-items: center;

        img {
            width: 83px;
            margin-right: 5px;
        }

        h3 {
            color: #fde428;
            font-family: BebasNeue;
        }
    }

    .menu {
        width: calc(100% - 400px - 50px);
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        > * {
            height: 35px;
            line-height: 35px;
            font-size: $font7;
            color: #fff;
            text-transform: uppercase;
            border-radius: 1000px;
            display: inline-block;

            &:hover {
                opacity: 0.7;
            }
        }

        #more {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;

            span {
                font-size: $font7;
                text-decoration: underline;
            }
        }

        #login {
            cursor: pointer;
            user-select: none;
            min-width: 120px;
            text-align: center;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            border: 1px solid #fff;
            padding: 0 10px;
        }

        #register {
            cursor: pointer;
            user-select: none;
            min-width: 120px;
            text-align: center;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            background-image: linear-gradient(to bottom, #76c34e, #467fce);
        }
    }

    .current-language {
        width: 50px;
        cursor: pointer;
        user-select: none;
        font-size: $font5;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        > span {
            color: #fff;
            font-size: $font5;
            margin-right: 5px;

            &:hover {
                opacity: 0.7;
            }
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-top-color: #fff;
            border-bottom: none;
            transition: 0.3s;
        }

        .choose-language {
            position: absolute;
            right: 0;
            border-radius: 5px;
            overflow: hidden;
            transition: all 0.3s ease;
            top: calc(100% + 30px);
            opacity: 0;
            pointer-events: none;

            li {
                padding: 10px 15px;
                font-size: 18px;
                color: #8a8c8e;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                &:not(:last-child) {
                    border-bottom: 1px solid #d1d1d1;
                }

                &:hover {
                    color: #00807e;
                    background-color: #e8e8e8;
                }

                img {
                    margin-right: 5px;
                    width: 25px;
                    height: 18px;
                    object-fit: cover;
                }

                span {
                    font-size: 18px;
                }
            }
        }

        &.show {
            &::after {
                transform: rotate(180deg);
            }

            .choose-language {
                top: calc(100% + 15px);
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .content {
        color: #fff;
        height: calc(100% - 83px);
        width: 58.333%;
        display: flex;
        align-items: center;

        h6 {
            margin-top: 20px;
        }

        @keyframes scaleUpAndDown {
            25% {
                transform: scale(1.2);
            }

            75% {
                transform: scale(0.8);
            }
        }

        .button {
            font-size: $font5;
            margin-top: 50px;
            padding: 20px 64px;
            transition: all 0.3s ease;
            animation: scaleUpAndDown 1s linear 0s infinite;
        }
    }

    @media (max-width: 1024px) {
        .top {
            justify-content: center;
        }

        .content {
            width: 100%;
        }

        .menu-icon {
            display: block;
        }

        .logo {
            width: auto;
        }

        .menu,
        .current-language {
            display: none;
        }
    }

    @media (max-width: 768px) {
        padding-top: 18px;
        padding-bottom: 0;

        .kdg-container {
            padding: 0 20px;
        }

        .logo {
            margin-bottom: 0;

            img {
                width: 65px;
            }

            h3 {
                font-size: $font4;
                margin-left: 10px;
            }
        }
    }

    @media (max-width: 576px) {
        .logo {
            img {
                width: 45px;
            }
        }

        .menu-icon {
            top: 0;
            left: 0;
        }

        .content {
            h1 {
                font-size: 25px;
            }

            h6 {
                font-size: 15px;
            }

            .button {
                font-size: 14px;
                padding: 15px 35px;
            }
        }
    }
}

#calc {
    height: 25vh;
    min-height: 200px;
    background-image: linear-gradient(to right, #4ec365, #467fce);

    .class2 {
        display: flex;
        align-items: center;
    }

    .calc-money {
        width: 41.666%;
        display: flex;
        align-items: center;

        .img-box {
            img {
                display: block;
            }
        }

        h5 {
            color: #fff;
            font-size: 20px;
            line-height: 24px;
            font-weight: 300;
            text-transform: uppercase;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        .input-number {
            position: relative;

            input {
                display: block;
                width: 100%;
                height: 47px;
                padding-left: 20px;
                padding-right: 170px;
                border: none;
                border-radius: 1000px;
                font-size: 18px;
            }

            .button {
                position: absolute;
                top: 50%;
                right: 4px;
                transform: translate(0, -50%);
                user-select: none;
                display: block;
                text-transform: unset;
                text-align: center;
                color: #fff;
                font-size: 20px;
                font-weight: 300;
                line-height: 40px;
                min-width: 160px;
            }
        }
    }

    .calc-profit {
        width: 58.334%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .item {
            width: 30%;
            text-align: center;

            > div {
                font-size: $font2;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            p {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 1024px) {
        .class2 {
            flex-direction: column;
            justify-content: center;
        }

        .calc-money {
            width: 100%;
            margin-bottom: 20px;
            justify-content: center;
        }

        .calc-profit {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }
    }

    @media (max-width: 576px) {
        height: 400px;

        .calc-money {
            .img-box {
                display: none;
            }

            h5 {
                text-align: center;
            }
        }

        .calc-profit {
            flex-direction: column;

            .item {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

#roadmap {
    padding: 70px 0 50px;
    text-align: center;
    background-image: linear-gradient(to bottom, #007676, #005668);

    .period-part {
        padding: 0;
    }

    .circle-box {
        width: 217px;
        height: 217px;
        margin: 0 auto;
        position: relative;

        @keyframes rotate1 {
            50% {
                transform: rotate(180deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .circle-1 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid #fff;
            border-radius: 50%;
            animation: rotate1 3s linear 0s infinite;

            &.no-animation {
                animation: none;
            }

            .circle-3 {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-image: linear-gradient(to bottom, #76c34e, #467fce);
                position: absolute;
                top: 11px;
                left: 75%;
            }

            .circle-4 {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-image: linear-gradient(to bottom, #76c34e, #467fce);
                position: absolute;
                bottom: 11px;
                right: 75%;
            }
        }

        .circle-2 {
            position: absolute;
            top: 13px;
            left: 13px;
            right: 13px;
            bottom: 13px;
            border: 1px solid #fff;
            border-radius: 50%;
        }

        .road-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.done {
                width: 160px;
                left: 50%;
            }
        }
    }

    .period-number {
        margin-top: 24px;
        font-size: 14px;
        color: #fff;
        font-weight: 300;
    }

    .period-title {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }

    .period-money {
        font-size: 16px;
        color: #fff;
        font-weight: 300;

        span {
            font-size: 20px;
            color: #fde428;
        }
    }

    @media (max-width: 992px) {
        .kdg-col-4 {
            width: 50%;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }

        .kdg-col-4 {
            width: 100%;
        }
    }
}

#history {
    min-height: 72px;
    background-image: linear-gradient(to bottom, #177d8a, #07a396);

    .history-transaction {
        padding: 8px 30px 8px;
        width: 100%;
        height: 72px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #e8e8e8;

        img {
            vertical-align: middle;
        }

        span {
            width: calc(100% - 63px);
            margin-left: 6px;
            text-transform: uppercase;
            color: #00807e;
            font-size: $font7;
            vertical-align: middle;
        }
    }

    .text-transaction {
        > * {
            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #fff;
            }
        }

        .invest {
            font-size: $font6;
            color: #ddd9d8;
            display: inline-block;
            margin: 0 5px;

            span {
                font-size: $font6;
                font-weight: bold;
                color: #fde428;
            }
        }

        .draw {
            font-size: $font6;
            color: #ddd9d8;
            display: inline-block;
            margin: 0 5px;

            span {
                font-size: $font6;
                font-weight: bold;
                color: #ff3300;
            }
        }
    }

    @media (max-width: 992px) {
        .history-transaction {
            padding: 8px 15px;
            display: flex;
            align-items: center;

            img {
                display: none;
            }

            span {
                width: 100%;
                margin-left: 0;
                text-align: center;
            }
        }
    }

    @media (max-width: 768px) {
        .kdg-container {
            padding: 0 20px;
        }
    }

    @media (max-width: 576px) {
        .history-transaction {
            display: none;
        }

        .kdg-col-8 {
            width: 100%;
        }

        .text-transaction {
            margin-top: 26px;
        }
    }
}

#feel {
    padding: 50px 0 23px;
    background-image: url('../images/banner2.jpg'), linear-gradient(to bottom, #007676, #005668);

    .feel-part {
        font-size: 0;

        > * {
            display: inline-block;
            vertical-align: top;
            font-size: initial;
        }

        .avatar {
            width: 25%;

            img {
                max-width: 100%;
                border: 1px solid #fff;
                border-radius: 50%;
            }
        }

        .description {
            margin-left: 5%;
            width: 70%;

            .comment {
                font-size: $font7;
                color: #fff;
            }

            .info {
                .name {
                    font-weight: bold;
                    color: #fde428;
                }

                .position {
                    font-size: $font6;
                    color: #fff;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .kdg-container {
            padding: 0 20px;
        }

        .slider {
            --item-per-row: 1;
        }
    }
}

#footer {
    padding: 45px 0 0;
    background-image: linear-gradient(to right, #4ec365 0%, #00807e 25%, #00807e 75%, #467fce 100%);

    .img-box {
        width: 100%;
        text-align: center;

        p {
            font-family: BebasNeue;
            color: #fde428;
        }
    }

    .info {
        color: #fff;

        .title-fund {
            text-transform: uppercase;
        }

        .address-info {
            font-size: 14px;
        }

        .mail {
            word-break: break-all;
        }
    }

    .divider {
        height: 110px;

        .divider-child {
            width: 1px;
            height: 100%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.6);
        }
    }

    .social {
        color: #fff;

        .title-social {
            text-transform: uppercase;
        }
    }

    .icon-box {
        img {
            vertical-align: middle;
            margin: 5px;

            &:hover {
                opacity: 0.7;
            }
        }

        a[href='#'] {
            pointer-events: none;
        }
    }

    .input-box {
        position: relative;

        #input-email {
            width: 100%;
            height: 32px;
            padding: 0 100px 0 25px;
            border: none;
            border-radius: 1000px;
            background-color: rgba(255, 255, 255, 0.8);
            font-size: $font7;
            color: #333;

            &::placeholder {
                font-size: $font7;
                color: #8a8c8e;
            }
        }

        #button-email {
            position: absolute;
            top: 0;
            right: 0;
            height: 32px;
            line-height: 32px;
            color: #fff;
            font-size: 15px;
            padding: 0 17px;
            text-transform: none;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .policy {
        background-color: rgba(255, 255, 255, 0.3);

        .policyy {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;

            > * {
                width: calc(100% / 5);
                color: #fff;
                font-size: 15px;
                padding: 18px 0;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .copyright {
        padding: 25px 0;
        text-align: center;
        color: #fff;
    }

    @media (max-width: 992px) {
        .kdg-container {
            padding: 0 20px;
        }
    }

    @media (max-width: 768px) {
        .kdg-row {
            text-align: center;
        }

        .kdg-col-2 {
            width: 40%;
            margin-bottom: 25px;
        }

        .kdg-col-3 {
            width: 60%;
            margin-bottom: 25px;
        }

        .kdg-col-4 {
            width: 80%;
        }

        .none {
            display: none;
        }

        .info {
            text-align: left;
        }

        .social {
            text-align: center;
        }
    }

    @media (max-width: 576px) {
        .kdg-row {
            text-align: unset;
        }

        .kdg-col-4 {
            width: 100%;
        }

        .info {
            .title-fund,
            .address-info,
            .mail {
                font-size: 14px;
            }
        }

        .social {
            .title-social {
                font-size: 14px;
            }
        }

        .policy {
            .policyy {
                > * {
                    width: calc(100% / 3);
                }
            }
        }

        .copyright {
            font-size: 15px;
        }
    }
}

.wrapper-slider {
    overflow: hidden;
    position: relative;
}

.control-slider {
    text-align: center;
}

.control-slider .pagination-silder button {
    border: 1px solid black;
    background-color: #8a8c8e;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0 2px;
    transition: all 0.3s ease;

    &:hover,
    &.active {
        background-color: #fde428;
    }
}

.slider {
    // --item-per-row: 2;
    width: calc(100% * var(--item) / var(--item-per-row));
    transition: all 0.3s ease;
    transform: translateX(0);
}

.slider::after {
    content: '';
    display: block;
    clear: both;
}

.slider .item {
    width: calc(100% / var(--item));
    float: left;
}

.slider .item img {
    display: block;
    margin: 0 auto;
}

.control-slider1 {
    .prev,
    .next {
        padding: 10px;
        cursor: pointer;
        user-select: none;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        img {
            width: 20px;
        }
    }

    .prev {
        position: absolute;
        top: 40px;
        left: 50px;
    }

    .next {
        position: absolute;
        top: 40px;
        right: 50px;
    }

    @media (max-width: 992px) {
        .prev {
            left: 20px;
        }

        .next {
            right: 20px;
        }
    }
}

@media (max-width: 992px) {
    .control-slider1 {
        .prev,
        .next {
            display: none;
        }
    }

    .hover-control-slider:hover {
        .control-slider1 {
            .prev,
            .next {
                display: block;
            }
        }
    }
}
